/* CSS Variables */
:root {
  /* Common Style Variables */

  /* Color */
  --color-black: #000;
  --color-darkgray: #a6a6a6;
  --color-darkslateblue: #0d3676;
  --color-dimgray-100: #666;
  --color-dimgray-200: #555;
  --color-dimgray-300: rgba(102, 102, 102, 0.09);
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: #d8d8d8;
  --color-gainsboro-300: rgba(230, 230, 230, 0.3);
  --color-gainsboro-400: rgba(230, 230, 230, 0.09);
  --color-gray-100: #fcfcfa;
  --color-gray-200: #00061a;
  --color-gray-300: rgba(255, 255, 255, 0.5);
  --color-gray-400: rgba(255, 255, 255, 0.05);
  --color-gray-500: rgba(255, 255, 255, 0.04);
  --color-gray-600: rgba(255, 255, 255, 0);
  --color-gray-700: rgba(0, 0, 0, 0.01);
  --color-lavender: #dde9fa;
  --color-royalblue-100: #0170f0;
  --color-royalblue-200: #0049af;
  --color-royalblue-300: #0343aa;
  --color-royalblue-400: rgba(0, 73, 175, 0.8);
  --color-white: #fff;

  /* Gap */
  --gap-6: 6px;
  --gap-10: 10px;
  --gap-11: 11px;
  --gap-12: 12px;
  --gap-15: 15px;
  --gap-19: 19px;
  --gap-20: 20px;
  --gap-22: 22px;
  --gap-25: 25px;
  --gap-30: 30px;
  --gap-60: 60px;

  /* Padding */
  --padding-0: 0px;
  --padding-1: 1px;
  --padding-2: 2px;
  --padding-3: 3px;
  --padding-4: 4px;
  --padding-5: 5px;
  --padding-8: 8px;
  --padding-10: 10px;
  --padding-11: 11px;
  --padding-13: 13px;
  --padding-20: 20px;
  --padding-22: 22px;
  --padding-24: 24px;
  --padding-25: 25px;
  --padding-26: 26px;
  --padding-30: 30px;
  --padding-36: 36px;
  --padding-39: 39px;
  --padding-40: 40px;
  --padding-50: 50px;
  --padding-60: 60px;
  --padding-72: 72px;
  --padding-0_5: 0.5px;

  /* BorderRadius */
  --br-10: 10px;
  --br-12: 12px;
  --br-16: 16px;
  --br-20: 20px;
  --br-24: 24px;
  --br-30: 30px;
  --br-50: 50%;
  --br-100: 100px;
  --br-501: 50px;

  /* Font */
  --font-inter: Inter;
  --font-lato: Lato;

  /* FontSize */
  --fs-16: 16px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-26: 26px;
  --fs-28: 28px;
  --fs-29: 29px;
  --fs-32: 32px;
  --fs-36: 36px;
  --fs-38: 38px;
  --fs-48: 48px;
  --fs-60: 60px;
  --fs-64: 64px;

  /* Borders */
  --border-1: 1px solid var(--color-white);
  --border-2: 1px solid transparent;
  --border-3: 3px solid transparent;
  --border-4: 0.5px solid var(--color-darkgray);
  --border-11: 0.5px dashed var(--color-darkgray);

  /* Shadows */
  --shadow-drop: 0px 0px 10px rgba(0, 158, 247, 0.2);
  --shadow-drop-1: 0px 1.2px 30px rgba(0, 0, 0, 0.1);
  --shadow-drop-2: 0px 6px 6px rgba(0, 0, 0, 0.05);
  --shadow-inner: 0px 4px 100px var(--color-white) inset;
  --text-shadow-1: 1px 0 0 var(--color-gray-600), 0 1px 0 var(--color-gray-600),
    -1px 0 0 var(--color-gray-600), 0 -1px 0 var(--color-gray-600);

  /* Gradients */
  --gradient-1: linear-gradient(265.4deg, #0072ff 10.23%, #00b9ff);
  --gradient-2: linear-gradient(
    -87.27deg,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0.24)
  );
  --gradient-3: linear-gradient(
        -87.27deg,
        rgba(255, 255, 255, 0.06),
        rgba(255, 255, 255, 0.24)
      )
      padding-box,
    linear-gradient(110.46deg, var(--color-white), var(--color-gray-600))
      border-box;
  --gradient-4: linear-gradient(94.73deg, #56ccf2, var(--color-royalblue-100));
  --gradient-5: linear-gradient(-90deg, #0575e6, #021b79);
  --gradient-6: linear-gradient(90deg, #56ccf2, #0052d4) padding-box,
    linear-gradient(90deg, rgba(255, 255, 255, 0.3), var(--color-gray-600))
      border-box;
  --gradient-7: linear-gradient(
        114.4deg,
        rgba(0, 73, 175, 0.02),
        rgba(255, 255, 255, 0.08)
      )
      padding-box,
    linear-gradient(114.4deg, var(--color-gray-300), var(--color-gray-600))
      border-box;

  /* WidthHeights */
  --height-20: 20px;
  --height-24: 24px;
  --height-30: 30px;
  --height-32: 32px;
  --height-40: 40px;
  --height-60: 60px;
  --height-80: 80px;
  --height-100: 100px;
  --height-0_5: 0.5px;
  --width-20: 20px;
  --width-24: 24px;
  --width-30: 30px;
  --width-32: 32px;
  --width-36: 36px;
  --width-40: 40px;
  --width-60: 60px;
  --width-80: 80px;

  /* LineHeights */
  --lh-29: 29px;
  --lh-30: 30px;
  --lh-32: 32px;
  --lh-35: 35px;
  --lh-36: 36px;
  --lh-40: 40px;
  --lh-43: 43px;
  --lh-48: 48px;
  --lh-50: 50px;
  --lh-58: 58px;
  --lh-72: 72px;

  /* LetterSpacings */
  --ls--0_03: -0.03;

  --left-0: 0px;
  --left-739: 739px;
  --top-0: 0px;
  --top-11: 11px;
  --top-12: 12px;
}